{
  "extends": ["airbnb-base", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "off",
    "semi": ["error", "always"],
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ]
  }
}
